:root {
  --main-bg-color: white;
  --main-text-color: black;
  --main-border-color: blue;
  --button-bg-color: rgb(89, 136, 180);
  --buttin-text-color: white;
  --h2-bg-color: coral;
  --h2-text-color: black;
  --h3-text-color: green;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');


html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
}

#welcome{
  background-color: #F7F7F7;
  color: #006838;
}
#welcome h2{
  color: #96CF24;
}

#work{
  background-color: #fbeaeb;
  color: #2f3c7e;
}
#work h2{
  color: #000000;
}
#work h3{
  color: #ce4a16;
}

#education{
  background-color: #ffe67c;
  color: #295f2d;
}
#education h2{
  color: #000000;
}
#education h3{
  color: #ce4a16;
}

h2{
  text-transform: uppercase;
}



section {
  min-height: 100vh;
  display: grid;
  grid-template-rows: [header-start] 20vh [content-start] auto;
  align-items: end;
  justify-items: center;
}

section h2{
  grid-area: header-start;
  
}

section p{
  grid-area: content-start;
  align-self: start;
  width: 60%;
}

section .content{
  grid-area: body-start;
  
}

section .content .point{
  width: 100%;
  display: grid;
  grid-template-columns: [img-start] 20% [ul-start] auto; 
  align-items: center;
  justify-items: center;
}

section .content .point img{
  grid-area: img-start;
  padding: 2% 10%;
  width: 80%;
}

section .content .point ul{
  grid-area: uk-start;
  padding: 1% 5%;
}



/* section .point{
  position: relative;
  display: flex;
  padding: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: max-content;
}



section#welcome img{
  float: left;
  width: 30vw;
}
section#welcome p{
  float: right;
  width: 30vw;
}


 */




/* section .point p {
  font-size: 0.9rem;
  float: left;
  width: 70%;
  padding: 0.5em 1em;
  color: #1d1e22;
  background-color: #f4f4f4;
  mix-blend-mode: screen;
  border-radius: 0.25em;
  pointer-events: none;
  user-select: none;
 
}

section .point ul{
  font-size: 1rem;
  word-wrap: none;
  float: left;
  overflow: auto;
  margin: auto;
  width: 80%;
  height: max-content;
}
section .point ul li{
  position: relative;
  float: left;
  float: inline-start;
  
}
section .point  ul h3{
  position: relative;
  color: var(--h3-text-color);
  font-size: 1.2rem;
}
section .point  ul P{
  position: relative;
  float: inline-start;
  font-size: 1rem;
}


section .point img{
  float: left;
  margin: auto;
  width: 10%;
  margin-left: 3%;
  
}
@keyframes myexpand{
  from{
   height: initial;
  }
  to{
    height: fit-content;
  }
}
 */


.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 60px;
  font-size: 1rem;
  background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0), transparent);
  mix-blend-mode: luminosity;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}
.header ul li {
  margin: 0 1em;
  padding: 1em;
}
.header ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
}
.header ul li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.2s linear;
}
.header ul li a:hover::after {
  width: 100%;
  background-color: #000000;
}

