:root {
  --color1:rgb(71, 71, 71);
  --color2:#174c5e;
  --color3:#203127;
  --bg-circle: rgb(190, 186, 186);
  --bg1:rgba(255, 255, 255, 0.767);
  --bg2: rgba(247, 247, 247, 0.897);
  --bg-nav: rgba(255, 255, 255, 0.767);
  --color-nav1: rgb(71, 71, 71);
  --color-nav2: #174c5e;
  --border-nav: #174c5e;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

html{
  scroll-behavior: smooth; 
}
body {
  font-family: 'Segoe UI';
  margin: auto;
  background-color: #b8b6b2a6;
  
}
section {
  height: fit-content;
  min-height: 100vh;
  overflow: visible;
 
  margin: 0;
}

section#competencies{
  background-color: #174c5e52;
}

section#about{
  background: url('bg/bg1.jpg') no-repeat fixed;
  background-size: cover;
}
section#work{
  background-color: #174c5ed5;
}

section#additional{
  background: url('bg/bg2.jpg') no-repeat fixed;
  background-size: cover;
}


.main{
  width: 70%;
  height: fit-content;
  min-height: 100vh;
  margin: 0 auto;
  
  padding: 0 2%;
  overflow: hidden;
}

p, li p{
  color:var(--color1);
  font-weight: 600;
  font-size: 0.9em;
  margin: 0;
}
li{
  color:var(--color1);
  font-weight: 500;
  
}
h2{

  color: white;
  margin: 3% auto;
  overflow: visible;
  padding: 5px;
  text-align: center;
  border-color: rgba(255, 255, 255, 0.452);
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 0.5px;
  font-size: 3em;
  font-weight: bold;
}

h3{
  margin: 0;
  padding: 0;
  color:var(--color2);
  font-weight: 700;
  font-size: 1.2em;
}
h4{
  margin: 0;
  margin-top: 8px;
  padding: 0;
  color:var(--color3);
  font-weight: 700;
  /* font-size: 0.8em; */
}
h5{
  margin: 0;
  padding: 0;
}
/* template  point-with-icon
div class="point-with-icon"
  img
  h3
  p */

.point-with-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.point-with-icon div{
  width: 170px;
  min-width: 150px;
  max-width: 200px;
  padding: 3%;
  margin: 3% 2%;
  height: 170px;
  min-height: fit-content;
  background-color: var(--bg2);
  display: grid;
  grid-template-areas: 
  "i . ."
  "h h h"
  "p p p"
  "p p p";
  align-items: start;
  justify-content: start;
}
.point-with-icon div img{
  grid-area: i;
  width: 50%;
}
.point-with-icon div h3{
  grid-area: h;
  text-align: start;
  /* height: 60px; */
  margin-top: 10px;
  
}
.point-with-icon div p{
  grid-area: p;
  margin-top: 10px;
  /* height: 120px; */
}

/* template  basic-lists
div class="basic-lists"
  h3
  ul
  */

.basic-lists{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}
.basic-lists div{
  width: 100%;
}
.basic-lists div h3{
  margin-block-start: 0;
  margin-block-end: 0;
}
.basic-lists div ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.basic-lists div ul li{
  width: 28%;
  list-style: none;
  margin: 0.7% 1%;
  padding: 1%;
  color: white;
  background-color: var(--color2);
  text-align: center;
}

/* template point
div class="point"
  div
    h3
    h4
    h5
  div
    p
 
  */

.point{
  display: flex;
  justify-content: space-around;
  margin: 3% 0;
  padding: 2% 2.5%;
  background-color: var(--bg2);
  
}
.point div:nth-child(1){
  margin-right: 2%;
  width: 30%;
  line-height: normal;
  border-right: #4632321a;
  border-right-style: groove;
  border-width: 1px;
  
}
.point div:nth-child(2){
  width: 70%;
  position: relative;
  top: 1px;
}


.lone-p {
  text-align: center;
  margin: 2% auto;
  padding: 1% 1.5%;
  width: fit-content;
  /* background-color: var(--bg2); */
}

.border-children div{
  border-style: solid;
  border-width: 5px;
  border-color: var(--color2);
}

.pattern{
  position: absolute;
  width: 10px;
}

/* about */

@media only screen and (min-width: 1200px){
  #about .main{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    height: 60vh;
    width: 100%;
    overflow: visible;
    padding: 0;
    margin: auto;
    position: relative;
    top: 20vh;
    height: 60vh;
    min-height: fit-content;
    width: 100%;
    overflow: visible;
    padding: 0;
    margin: auto;
    position: relative;
    top: 20vh;
  }
}

@media only screen and (max-width: 1200px) {
  #header{
    visibility: hidden;
  }
  #logo{
    visibility: hidden;
  }

  section{
    min-height: fit-content;
  }

  .basic-lists div ul li{
    font-size: 0.6em;
  }
  .main{
    min-height: fit-content;
    padding: 4vh 0;
  }
  #contact{
    visibility: hidden;
  }
  .side_by_side img{
    width: 60vw;
  }
  
}


#about .main{
  background-color:var(--bg1);
}

#about h3{
  margin-bottom: 8px;
  font-size: 3em;
  font-weight: bold;
}
#about h4{
  padding: 0;
  margin: 0;
}
#about p{
  margin-top: 10px;
}
a{
  text-decoration: none;
  font-weight: 800;
  color: inherit;
}
.side_by_side{
  overflow: visible;
  margin: auto;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-flow: wrap;
  position: relative;
  padding-top: 50px;
  width: 80%;
}
.side_by_side .title_and_content{
  width: 50vw;
}
.side_by_side img{
  width: 20%;
  height: 25%;
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
  padding: 0.5%;
  margin-top: 2%;
  margin-right: 8%;
  background-color: var(--bg-circle);
}
#contact{
  position: absolute;
  display: flex;
  width: fit-content;
  margin: auto;
  right: 7%;
  top: 85%;
  padding: 1vh 1vw;
  border-radius: 25px;
  background-color:var(--bg1);
  font-size: 1em;
  font-weight: 600;
  color: var(--color3);

}
#contact div{
  margin: 0 1vw;
  justify-items: center;
  padding: 1%;
  font-size: 1.5vw;
}
#contact div:hover{
  transform: scale(1.3);
  transition: transform 0.6s;
  
}
#contact a{
  position: relative;
  left: -6px;
  top: -2px;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: auto;
}



/* last */
section#last{
  height: 25vh;
  min-height: 25vh;
}

#last .main{
  padding-top: 80px;
  min-height: 25vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

#last .main p, #last .main .contactF{
  position: relative;
  top: -30px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

#last .main p, #last .main .contactF div{
  margin: 10px;
}

#last .main .border{
  border-top: solid black 1px;
  width: 60%;
  
}

#logo{
  text-align: center;
  position: absolute;
  left: 1%;
  top: 2%;
  font-size: 2vw;
  font-weight: 900;
}
#logo span{
  padding: 1vh 1.2vw;
  border-radius: 100%;
  background-color: var(--bg-nav);
  color:var(--color-nav2);
}



#header {
  font-size: 0.6vw;
  font-weight: 300;
  background-color: var(--bg-nav);
  color: var(--color-nav1);
  position: fixed;
  z-index: 2;
  margin: 20vh 1%;
  padding: 3vh 0.5vw;
  min-width: fit-content;
  width: 5.5vw;
  min-height: fit-content;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-nav);
  
}

#header .border{
  border-bottom: var(--color-nav1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 70%;
  padding-top: 5px;
  padding-bottom: 3px;
  margin: auto;
}

#header ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  
}
#header ul li {
  /* width: 100%; */
  height: fit-content;
  text-align: center;
  overflow: hidden;
  
  
}
#header ul li a{
  text-decoration: none;
  text-transform: uppercase;
  
  font-size: 1.2em;
}
#header li i{
  margin: 10px auto;
  font-size: 2em;
  width: 100%;
}
#header ul li a.nonactive {
  color:  var(--color-nav1);
}
#header ul li a.btn:hover{
  color: var(--color-nav2);
  padding: 20% 0;
  width: 100%;
  transition: color 0.6s;
  overflow: auto;
  width: 100%;
}
.active{
  color:  var(--color-nav2);
  overflow: auto;
  text-emphasis: underline;
}




.come-in >*{
  transform: translateX(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in >*:nth-child(odd) {
  transform: translateX(-150px);
}
@keyframes come-in {
  to { transform: translateX(0); }
}

